<% include ../partials/header%>
<div class="container">
    <header class="jumbotron special-image-writing">
            <div class="row align-center special-font-color-white">
                <div class="col-md-12">
                    <h1>Welcome To Josh Chacko's World of Creations!</h1>
                    <p>Enjoy my thoughts ... dreams .... & creations...  </p>
                </div>  
            <div class="row">
                <div class="col-md-6">
                    <div class="fill"></div>
                    <div class="fill"></div>
                    <form action="/poems/index" method="GET" class="form-inline">
                        <div class="form-group col-md-3"></div>
                        <div class="form-group">
                            <a class="special-link-white" href="/poems/index">My World of Poetry</a>
                        </div>
                    </form>
                </div>    
                <div class="col-md-6">
                    <div class="fill"></div>
                    <div class="thumbnail">
                        <form action="/poems/index" method="GET" class="form-inline">
                            <div class="form-group">
                                <a href="/proses/index"></a>
                            </div>
                        </form>
                        <div class="fill"></div>
                        <form action="/proses/index" method="GET" class="form-inline">
                            <div class="form-group col-md-3"></div>
                            <div class="form-group">
                                <a class="special-link-white" href="/proses/index">My World of Prose</a>
                                <a href="/proses/index"></a>
                            </div>
                        </form>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="fill"></div>
                </div> 
            </div> 
    </header>
</div>    

<% include ../partials/footer %>
