<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12 normal-font">
            <form  action="/login" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-12" style="text-align: center">
                        <h2>Login</h2>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="required" for="inputEmail">Email address</label>
                        <input type="text" class="form-control" id="inputEmail" name="username" placeholder="Email address" required = 'required' autofocus>
                    </div>
                    <div class="form-group col-md-4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="required" for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required = 'required' autofocus>
                    </div>
                    <div class="form-group col-md-4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                    </div>
                    <div class="form-group col-md-4">
                        <a class="href-class" href="/forgot">Forgot Password?</a>
                        <a class="href-class" style="float: right" href="/register">Create an Account?</a>
                    </div>
                    <div class="form-group col-md-2">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                    </div>
                    <div class="form-group col-md-2">
                        <button class="special-button" type="submit">Login</button>
                    </div>
                    <div class="form-group col-md-4">
                    </div>
                </div>
                <div>
               <div class="fill"></div>
               <div class="fill"></div>
               <div class="fill"></div>
               <div class="fill"></div>
               <div class="fill"></div>
               <div class="fill"></div>
               <div class="fill"></div>
               <div class="fill"></div>
               <div class="fill"></div>
               
        </div>
            </form>
        </div>    
    </div>
</div>    
<% include ./partials/footer %>

